# 二维码中的网址。必须是手机能够打开的地址，末尾不要加斜杠。
# 本机预览可用 http://127.0.0.1:3000
# 同一 Wi-Fi 下的手机可填这台电脑的局域网地址，例如 http://192.168.1.10:3000
# 给外网手机扫码时，改成已发布的公网地址，例如 https://feedback.example.com
VITE_PUBLIC_ORIGIN=http://127.0.0.1:3000
